---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <main class="container">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
{% if null != post.description %}
    <p class="post-description">{{ page.description }}</p>
{% endif %}
    <small class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {%- if page.author -%} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </small>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </main>
</article>
